@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$dark-blue: #00087A;
$blue: #0000FF;
$cyan: #00CCFF;
$salmon: #ff555b;

$primary: $blue;
$secondary: $cyan;
$dark: $dark-blue;
$link: $salmon;

$accordion-content-border: none;
$accordion-header-radius: 0px;
$accordion-content-radius: 0px;

@import "~bulma/sass/utilities/derived-variables";
@import "~bulma";
@import "~bulma-accordion/src/sass/index.sass";

@import "./custom.scss"


